
<div class="card bg-dark text-white" style="width : 25%; ">
  <div class="card-header ">
  <h5 class="card-title" >Login</h5>
  </div>
  <div class="card-body ">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label>Username</label>
        
        <input type="text" #username="ngModel" name="username" required class="form-control" ngModel>
          <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
              <div [hidden]="!username.errors.required">
              <b>Please enter a name</b>
            </div>
            </div>
           
  
        <label >Password</label>
        <input type="password" #passref="ngModel" name="passref" required class="form-control" ngModel>
        <div *ngIf="passref.errors && (passref.dirty || passref.touched)" class="alert alert-danger">
              <div [hidden]="!passref.errors.required">
                <b>Please enter password</b>
              </div>
            </div>
              

        </div>
    <div class="form-group">
        <button [disabled]="!userForm.form.valid" class="btn btn-primary">Login</button>
  </div>
    </form>
  </div>



 
  
